@font-face {
    font-family: 'AdornCondensedSans Regular';
    src: url('AdornCondensedSans Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'AdornCondensedSans Smooth';
    src: url('AdornCondensedSans Smooth.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'AkayaKanadaka Regular';
    src: url('AkayaKanadaka Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BelmonteBallpoint Cursive';
    src: url('BelmonteBallpoint Cursive.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BelmonteBallpoint Print';
    src: url('BelmonteBallpoint Print.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CasonHand Regular';
    src: url('CasonHand Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CasonPoint Regular';
    src: url('CasonPoint Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ChollaWideOT Bold Italic';
    src: url('ChollaWideOT Bold Italic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'ChollaWideOT Bold';
    src: url('ChollaWideOT Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ChollaWideOT Regular Italic';
    src: url('ChollaWideOT Regular Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'ChollaWideOT Regular';
    src: url('ChollaWideOT Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ChollaWideOT UltraBold';
    src: url('ChollaWideOT UltraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'FeyFayre Regular';
    src: url('FeyFayre Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Frontrunner';
    src: url('Frontrunner.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Ghibli Bold';
    src: url('Ghibli Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Ghibli Regular';
    src: url('Ghibli Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Hoki Bold Italic';
    src: url('Hoki Bold Oblique.woff2') format('woff2');
    font-weight: 700;
    font-style: oblique;
}

@font-face {
    font-family: 'Hoki Bold';
    src: url('Hoki Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Hoki Heavy Italic';
    src: url('Hoki Heavy Oblique.woff2') format('woff2');
    font-weight: 900;
    font-style: oblique;
}

@font-face {
    font-family: 'Hoki Heavy';
    src: url('Hoki Heavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Hoki Light Italic';
    src: url('Hoki Light Oblique.woff2') format('woff2');
    font-weight: 300;
    font-style: oblique;
}

@font-face {
    font-family: 'Hoki Light';
    src: url('Hoki Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Hoki Medium Italic';
    src: url('Hoki Medium Oblique.woff2') format('woff2');
    font-weight: 500;
    font-style: oblique;
}

@font-face {
    font-family: 'Hoki Medium';
    src: url('Hoki Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Hoki Regular Italic';
    src: url('Hoki Regular Oblique.woff2') format('woff2');
    font-weight: 400;
    font-style: oblique;
}

@font-face {
    font-family: 'Hoki Regular';
    src: url('Hoki Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Infamous Regular';
    src: url('Infamous Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'InfoTextWeb Bold Italic';
    src: url('InfoTextWeb Bold Italic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'InfoTextWeb Bold';
    src: url('InfoTextWeb Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'InfoTextWeb Book Italic';
    src: url('InfoTextWeb Book Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'InfoTextWeb Book';
    src: url('InfoTextWeb Book') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'InfoTextWeb Medium Italic';
    src: url('InfoTextWeb Medium Italic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'InfoTextWeb Medium';
    src: url('InfoTextWeb Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'InfoTextWeb Regular Italic';
    src: url('InfoTextWeb Regular Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'InfoTextWeb Regular';
    src: url('InfoTextWeb Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'InfoTextWeb SemiBold Italic';
    src: url('InfoTextWeb SemiBold Italic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'InfoTextWeb SemiBold';
    src: url('InfoTextWeb SemiBold') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'IrpinType Bold';
    src: url('IrpinType Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'IrpinType Regular';
    src: url('IrpinType Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'JuniperBay Regular';
    src: url('JuniperBay Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LettersHome Regular';
    src: url('LettersHome Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Marina Regular';
    src: url('Marina Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MrsPickles Regular';
    src: url('MrsPickles Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Naturalist Regular';
    src: url('Naturalist Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ProvidenceSans Bold';
    src: url('ProvidenceSans Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ProvidenceSans Regular';
    src: url('ProvidenceSans Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rogliano Black Italic';
    src: url('Rogliano Black Italic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Rogliano Black';
    src: url('Rogliano Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Rogliano Bold Italic';
    src: url('Rogliano Bold Italic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Rogliano Bold';
    src: url('Rogliano Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Rogliano ExtraBold Italic';
    src: url('Rogliano ExtraBold Italic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Rogliano ExtraBold';
    src: url('Rogliano ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Rogliano Light Italic';
    src: url('Rogliano Light Italic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Rogliano Light';
    src: url('Rogliano Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rogliano Regular Italic';
    src: url('Rogliano Regular Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Rogliano Regular';
    src: url('Rogliano Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rogliano Thin Italic';
    src: url('Rogliano Thin Italic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Rogliano Thin';
    src: url('Rogliano Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Rogliano UltraLight Italic';
    src: url('Rogliano UltraLight Italic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Rogliano UltraLight';
    src: url('Rogliano UltraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SadPoem Regular';
    src: url('SadPoem Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SkemaProLivro Medium Italic';
    src: url('SkemaProLivro Medium Italic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SkemaProLivro Medium';
    src: url('SkemaProLivro Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SneakersPro Medium Italic';
    src: url('SneakersPro Medium Oblique.woff2') format('woff2');
    font-weight: 500;
    font-style: oblique;
}

@font-face {
    font-family: 'SneakersPro Medium';
    src: url('SneakersPro Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SneakersPro Narrow Italic';
    src: url('SneakersPro Narrow Oblique.woff2') format('woff2');
    font-weight: 400;
    font-style: oblique;
}

@font-face {
    font-family: 'SneakersPro Narrow';
    src: url('SneakersPro Narrow.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SneakersPro UltraWide Italic';
    src: url('SneakersPro UltraWide Oblique.woff2') format('woff2');
    font-weight: 800;
    font-style: oblique;
}

@font-face {
    font-family: 'SneakersPro UltraWide';
    src: url('SneakersPro UltraWide.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'SneakersPro Wide Italic';
    src: url('SneakersPro Wide Oblique.woff2') format('woff2');
    font-weight: 700;
    font-style: oblique;
}

@font-face {
    font-family: 'SneakersPro Wide';
    src: url('SneakersPro Wide.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SOROKA Regular';
    src: url('SOROKA Regular.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Sticky Bold';
    src: url('Sticky Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Sticky Regular';
    src: url('Sticky Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sundara Regular';
    src: url('Sundara Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'UglyDave Alternates';
    src: url('UglyDave Alternates.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'UglyDave Regular';
    src: url('UglyDave Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Unown Regular';
    src: url('Unown Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Wednesday Wester Regular';
    src: url('Wednesday Wester Regular') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Wooden Western Regular';
    src: url('Wooden Western Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}